# Data
Data/
Data_Preprocessed/
Data_Preprocessed_32/
runs/

# Virtual Environments
venv/
env/
.env/

# IDE / Editor
.vscode/
.idea/

# Weights & Models
*.pt
*.pth
*.onnx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# OS specific
.DS_Store
Thumbs.db
/Scripts
